.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}

.button--danger {
    background: $danger;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// .button--social {
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-color: transparent;
//     background-position: center;
//     max-width: 95%;
//     width: 250px;
//     padding: 0;
//     margin: 5px auto;
// }

.button--social {
    background-position: 1rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 1rem;
    margin-bottom: 10px;
    padding: 0 2rem 0 4rem;
    text-decoration: none;
    transition: all 0.5s;
}

.button--google {
    background-color: white;
    background-image: url('/images/google.svg');
    color: #777;
    &:hover {
        background-color: #f7f7f7;
    }
    &:active {
        background-color: #4285F4;
        color: white;
    }
}

.button--facebook {
    background-color: #3b5998;
    background-image: url('/images/facebook.svg');
    &:hover {
        background-color: #4c70ba;
    }
    &:active {
        background-color: #2d4373;
    }
}

.button--github {
    background-color: #2a2a2a;
    background-image: url('/images/github.svg');
    &:hover {
        background-color: #444444;
    }
    &:active {
        background-color: #101010;
    }
}

.button--twitter {
    background-color: #00aced;
    background-image: url('/images/twitter.svg');
    &:hover {
        background-color: #21c2ff;
    }
    &:active {
        background-color: #0087ba;
    }
}