.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}

.button--danger {
    background: $danger;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button--social {
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 1rem;
    margin-bottom: 10px;
    padding: 0 2rem;
    text-decoration: none;
    transition: all 0.5s;
}

.button--google {
    background-color: white;
    color: #777;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #f7f7f7;
    }
    &:active {
        background-color: #4285F4;
        color: white;
    }
    img {
        width: 15px;
        margin-right: 8px;
    }
}

.button--facebook {
    background-color: #3b5998;
    &:hover {
        background-color: #4c70ba;
    }
    &:active {
        background-color: #2d4373;
    }
}

.button--github {
    background-color: #2a2a2a;
    &:hover {
        background-color: #444444;
    }
    &:active {
        background-color: #101010;
    }
}

.button--twitter {
    background-color: #00aced;
    &:hover {
        background-color: #21c2ff;
    }
    &:active {
        background-color: #0087ba;
    }
}